.search-result {
    margin-top: 20px;
}

    .search-result .logo {
        margin-right: 10px;
        height: 34px;
    }

    .search-result .btn-search {
        padding-left: 30px;
        padding-right: 30px;
    }

    .search-result .media-list {
        max-width: 800px;
    }

    .search-result strong {
        font-weight:normal;
        color:red;
    }
