SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WebPages](
	[Url] [varchar](900) NOT NULL,
	[Title] [nvarchar](500) NULL,
	[KeyWords] [nvarchar](500) NULL,
	[MetaDescription] [nvarchar](500) NULL,
	[PageContent] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreatebyName] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[LastUpdateBy] [nvarchar](50) NULL,
	[LastUpdateByName] [nvarchar](100) NULL,
	[LastUpdateDate] [datetime] NULL,
 CONSTRAINT [PK_WebPages] PRIMARY KEY CLUSTERED 
(
	[Url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
CREATE FULLTEXT CATALOG SpiderWebPagesCatalog;
GO
CREATE FULLTEXT INDEX ON WebPages
(  
    Title LANGUAGE 2052,
	KeyWords LANGUAGE 2052,
	MetaDescription LANGUAGE 2052,
	PageContent LANGUAGE 2052
)  
KEY INDEX PK_WebPages ON SpiderWebPagesCatalog
WITH CHANGE_TRACKING AUTO
GO 